---
---

/* custom css */
.page-header {
  background-color: #265271 !important;
  background-image: none !important;
}

.project-name {
  background-image: url("/assets/images/vrtoolkit_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80px;
}