---
---

/*@import "{{ site.theme }}";*/

  /* custom css */
  .page-header {
    background-color: #265271 !important;
    background-image: none !important;
  }
  .project-name {
    background-image: url("https://raw.githubusercontent.com/retroluxfilm/reshade-vrtoolkit/gh-pages/assets/vrtoolkit_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }